:root {
  box-sizing: border-box;
  /* font-size: calc(1vw + 0.6em); */

  --primary-color: #545F71;
  --tertiary-color: #EEF1F4;
}

html .dark {
  --primary-color: #226add;
  --tertiary-color: #EEF1F4;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  /* background-color: #eee; */
  background-color: #ffffff;
}

button {
  cursor: pointer;
}
